<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <% include ./layout/header %>
    </body>
</html>
